/*Reset CSS*/

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}

main, header {
  padding: 1rem;
}

img {
  /*Default all images to 100%*/
  width: 100%;
}

.section-title {
  text-align:center;
  margin: 2rem;
  font-family: 'Rancho', cursive;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: lighter;
}

.section-title span {
  display:block;
  color:#e76f51;
  margin-top: 0.5rem;
}

.btn {
  background-color: #2a9d8f;
  color:white;
  padding: 0.5rem 1.5rem;
  border:none;
  border-radius:10px;
}

/*Header style start*/
header nav ul li{
  display:none;
}

#logo {
  display:inline;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-family: 'Rancho', cursive;
}

#burger-menu {
  display: inline;
  float:right;
  font-size: 1.6rem;
  }
/*Header stryle end*/

/*hero style start*/
.hero-info h1 {
  font-weight: 0%;
  font-size:3.5rem;
  color:rgb(50, 50, 50);
  margin:3rem 0;
}

.vegana {
  color: #2A908F;
}

.hero-buttons {
  display: flex;
  justify-content: space-around;
}

.hero-buttons :first-child {
  background-color: #E76F51;
  color:white;
  padding: 0.5rem 1.5rem;
  box-shadow: 5px 5px 15px #E76F51ec;
  border-radius: 5px;
  border: none;
  margin-right:50%;
}

.hero-buttons :last-child {
  border:none;
  background-color: white;
  font-size:1rem;
  padding: 0.5rem 1.5rem;
}

.hero-info img {
  margin: 3rem 0;
}
/*hero style end*/
/*specialities style start*/
.specialty-category {
  color:#e76f51;
  font-size: 0.9rem;
  margin-top:1rem;
  margin-bottom:1rem;
  padding-bottom: 0.5rem;
  position:relative;
}

.specialty-category::after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:0.5rem;
  border-bottom: 1px solid black;
}
.specialty-description{
  font-size:1.1.rem;
  font-weight:bold;
  padding-bottom:1rem;
}
.specialty-title {
  font-size: 2.6rem;
  display:block;
  position:relative;
  padding-bottom: 0.5rem;
  margin-bottom:1rem;  
}
.specialty-title::after {
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:0.5rem;
  border-bottom: 1px solid black;
}

.price {
display:flex;
justify-content: space-around;
align-items: center;
margin-bottom: 1rem;
}

.specialty-img {
box-shadow: 5px 5px 15px rgba(200, 200, 200 , 0.8);
}
/*specialities style end*/

/*menu styler start*/
.menu-title {
font-size: 2.5rem;
font-weight:bold;
}

.menu-item {
  display:flex;
  margin:2rem 0;
  position:relative;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
}
.menu-item::after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:0.5rem;
  border-bottom: 1px dashed black;

}
.menu-item:last-child::after {
  border:none;
}
.menu-item img {
  width:60px;
  height:60px;
  border-radius:30px;
  object-fit:cover;
  margin-right:1rem;
}
.menu-item section h3 {
  margin-bottom:1rem;

}

menu-item section h3 span {
  margin-left:3rem;
  font-weight:lighter;
  color:#333333;

}
.menu-item p {
  color:#333333;

}
/*menu style end*/
/*testimony style start*/

.testimony-hero {
  position:relative;
}

.testimony-text{
  position: absolute;
  display: flex;
  flex-direction:column; 
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  /*adding top/left of 50% moves the top/left margin edge of the element to the middle of the parent, and translate() function with the negative value of -50% moves the element by the hald of its size. Hence the element will be positioned in the middle.*/
  top:50%;
  left:50%;
  color:white;
  font-size:1.4rem;
  width: 80%;
  height:100%;
  font-weight: lighter;
}

.testimony i {
  font-size:6rem;
}


/*testimony style end*/



@media screen and (min-width:725px) {
  body {
    max-width: 960px;
    margin: 0 auto;
    }

    main {
      padding: 0;
    }

    header nav ul {
      display: flex;
      justify-content: space-between;
      align-items:center;
    }
    
    header nav ul li {
      display:inline;
      font-weight: bold;
      font-size: 1.2rem;
    }

    #burger-menu {
      display: none;
    }

    .hero {
      display: flex;
      padding:1rem;
    }

    .hero-info {
      padding: 1rem;
    }
    
    .hero-info-block {
      display:block;
    }

    .hero-buttons {
      justify-content: flex-start;
    }

    #hero-image {
      width:375px;
    }

    .specialties {
      padding: 2rem;
      background-color: #efefef;
    }

    .specialty-item {
      display:flex;
      align-items:center;
      gap: 4rem;
      margin-bottom:3rem;
    }

    .specialty-img {
      width: 375px;
    }

    .price {
      flex-direction:column;
      align-items: flex-start;
    }

    .price span {
      margin-bottom:1rem;
    }
    
    .specialty-item:last-child .specialty-img {
      order:1;
    }

    .specialty-item:last-child .specialty-info {
      order:2;
    }

    .menu-container {
      display:flex;
      padding:2rem;
    }

    .menu-title {
      text-align:center;
    }

    .menu-item::after {
    width:75%;
    margin:0 auto;
    }


}